@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background: url("assets/images/background-pattern-mobile.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat; */
    z-index: -4;
    background-color: hsl(275, 100%, 97%);
    font-family: 'Work Sans', sans-serif;
}

/* background-pattern for desktop */
.background-pattern_desktop{
    display: none;
    min-height: 25%;
    position: absolute;
    top: 0;
    bottom: 75%;
    width: 100vw;
}

.background-pattern_desktop img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -3;
}
/* background pattern for mobile */
.background-pattern_mobile{
    min-height: 25%;
    position: absolute;
    top: 0;
    bottom: 75%;
    width: 100vw;
}

.background-pattern_mobile img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -3;
}

/* common layout designs */
ul{
    list-style: none;
}

.container{
    width:75%;

    
    position: absolute;
    top: 10%;
    left: 12.5%;
    right: 12.5%;

    background-color: hsl(0, 0%, 100%);
    padding: 1em 2em;
    border-radius: 1rem;
}


/* card styling */

.card-header{
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    margin-bottom: 1em;
}

/* questions section */
.questions__question{
    margin-bottom: 1em;
}
.questions__question:not(:last-child){
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
}
.question__top{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 1em;
    align-items: center;
}
.question__top p:hover{
    cursor: pointer;
    color:hsl(275, 100%, 75%);
}
.question__top img:hover{
    cursor: pointer;
}
.question__bottom{
    color:hsl(292, 16%, 49%);
    opacity: .7;
    font-weight: 400;
    display: none;
    margin-bottom: .5em;
}
.opened{
    display: block;
}

@media (min-width:1440px){
    .background-pattern_mobile{
        display: none;
    }
    .background-pattern_desktop{
        display: block;
    }
}

@media (min-width:1000px){
    .container{
        width: 700px;
        left: 25%;
    }
}